<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<section id="post-card">
    <h2>Create New Post</h2>
    
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-content">Content</label>
            <textarea id="post-content" name="post-content"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>
{{#if posts.length}}
  <section id="post-card">
    <h2>Your Posts</h2>
    <section id="small-post">
      {{#each posts as |post|}}
      {{!-- <p>You posted on {{moment post.date_created fromat="MM-DD-YYYY"}}</p>
        <li> --}}
          <a href="/edit/{{post.id}}" class="edit-link">Edit Post</a>
          <h3>{{post.title}}</h3>
          <p>{{post.content}}</p>
        </li>
      {{/each}}
    </section>
  </section>
{{/if}}

<script src="/js/new-post.js"></script>