<article id="edit-post">
    <a href="/dashboard">&larr; Back to Dashboard</a>
    <h2>Edit Post</h2>
    
    <section class="edit-post-form">
        <div>
            {{!-- <input id="hiddenPostId" hidden="true" value="{{post.id}}"></input>
            <input id="hiddenPostName" hidden="true" value="{{post.user.name}}"></input> --}}
            <input type="text" name="post-title" style="width: 200px;" value="{{post.title}}" />
            <p>{{post.title}}</p>
            <br><br>
            <textarea id="content" name="content" rows="5" cols="40" value="{{post.content}}"></textarea> </textarea>
            <p>{{post.content}}</p>
        </div>
        <div>
            <a id="{{post.id}}" class="post_id" href="/post/{{post.id}}"></a>
        </div>
        <button class="btn btn-primary" type="click" id="edit-post-form">Save Post</button>
        <button class="btn btn-primary" type="click" id="delete-post-btn">Delete post</button>
    </section>
</article>



<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
