<article>
    <a href="/">&larr; Back to Dashboard</a>
    <h2>Edit Post</h2>
    <form class="edit-post-form">
        <div>
            {{!-- <input id="hiddenPostId" hidden="true" value="{{post.id}}"></input>
            <input id="hiddenPostName" hidden="true" value="{{post.user.name}}"></input> --}}
            <input type="text" name="post-title" value="{{post.title}}" />
            <p>{{post.title}}</p>
            <br><br>
            <textarea id="content" name="content"></textarea>
            <p>{{post.content}}</p>
        </div>
        <div>
            <a id="{{post.id}}" class="post_id" href="/post/{{post.id}}"></a>
        </div>
        <button type="submit">Save Post</button>
        <button type="click" class="delete-post-btn">Delete post</button>
    </form>
</article>



<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
